* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
.row{
  display:flex;
  justify-content:flex-start;
  align-items:stretch;
  flex-wrap:nowrap;
  padding:10px;
}
.cell{
  min-height:75px;
  flex-grow:1;
  flex-basis:100%;
}
#i6ah{
  max-width:960px;
  margin:0 auto 0 auto;
  background-image:linear-gradient(#ffffff,#ffffff);
  background-repeat:repeat;
  background-position:left top;
  background-attachment:scroll;
  background-size:auto;
}
#icmq{
  font-family:Lucida Sans Unicode, Lucida Grande, sans-serif;
}
.navbar-items-c{
  display:inline-block;
  float:right;
}
.navbar{
  background-color:#222;
  color:#ddd;
  min-height:50px;
  width:100%;
}
.navbar-container{
  max-width:950px;
  margin:0 auto;
  width:95%;
}
.navbar-container::after{
  content:"";
  clear:both;
  display:block;
}
.navbar-brand{
  vertical-align:top;
  display:inline-block;
  padding:5px;
  min-height:50px;
  min-width:50px;
  color:inherit;
  text-decoration:none;
}
.navbar-menu{
  padding:10px 0;
  display:block;
  float:right;
  margin:0;
}
.navbar-menu-link{
  margin:0;
  color:inherit;
  text-decoration:none;
  display:inline-block;
  padding:10px 15px;
}
.navbar-burger{
  margin:10px 0;
  width:45px;
  padding:5px 10px;
  display:none;
  float:right;
  cursor:pointer;
}
.navbar-burger-line{
  padding:1px;
  background-color:white;
  margin:5px 0;
}
.max320{
  max-width: 320px
}
.max480{
  max-width: 480px
}
.youtube{
  margin: auto;
}
#iaoe{
  padding:15px 15px 10px 15px;
}
#ie9m{
  color:#000000;
  background-image:linear-gradient(#ffffff,#ffffff);
  background-repeat:repeat;
  background-position:left top;
  background-attachment:scroll;
  background-size:auto;
}
#i879f{
  max-width:960px;
}
#ijhll{
  flex-basis:103.2%;
  justify-content:space-between;
  flex-direction:row;
  display:block;
  align-items:stretch;
}
#ia1p6{
  padding:10px;
  font-size:43px;
}
#inrzl{
  padding:10px;
}
#i5sg6{
  font-family:Lucida Sans Unicode, Lucida Grande, sans-serif;
  justify-content:space-between;
  flex-direction:row;
  text-align:center;
}
#icc3u{
  padding:10px;
}
#i1owo{
  padding:10px;
}
#i3ozd{
  text-align: center;
  padding:10px;
  font-size:30px;
}
#igphg{
  max-width:320px;
}
#i9bjv{
  font-family:Lucida Sans Unicode, Lucida Grande, sans-serif;
  align-self:center;
}
#ii9wl{
  font-size:16px;
}
#iqtdt{
  padding:10px;
  font-size:24px;
}
#iylep{
  padding:10px;
}
#iwlno{
  max-width:320px;
}
#iwnbj{
  align-self:center;
  font-family:Lucida Sans Unicode, Lucida Grande, sans-serif;
}
#irr1e{
  padding:10px;
  font-size:24px;
}
#ig0or{
  padding:10px;
}
#iw681{
  align-self:center;
  font-family:Lucida Sans Unicode, Lucida Grande, sans-serif;
}
#ijmx9{
  max-width:320px;
}
#idqp2{
  padding:10px;
  font-size:24px;
}
#i29se{
  padding:10px;
}
#iju6g{
  max-width:320px;
}
#i3bx6{
  font-family:Lucida Sans Unicode, Lucida Grande, sans-serif;
  align-self:center;
}
#ionul{
  padding:10px;
  font-size:24px;
}
#i41oo{
  padding:10px;
}
#i97hx{
  max-width:320px;
}
#i1843f{
  padding:10px;
  font-size:24px;
}
#iaxk6{
  align-self:center;
  font-family:Lucida Sans Unicode, Lucida Grande, sans-serif;
}
#ivtbaf{
  padding:10px;
}
#igbkqn{
  padding:10px;
  font-family:Lucida Sans Unicode, Lucida Grande, sans-serif;
  font-size:30px;
  text-align:center;
}
#iwsa48{
  padding:10px;
  font-size:30px;
  font-family:Lucida Sans Unicode, Lucida Grande, sans-serif;
  text-align:center;
}
#il3p3a{
  padding:10px;
  font-size:24px;
}
#ilmex9{
  max-width:480px;
}
#i5x7gs{
  align-self:center;
}
#i82nh9{
  padding:10px;
}
#isrvnk{
  max-width:480px;
}
#if3cl8{
  align-self:center;
}
#ia4lxf{
  padding:10px;
  font-size:24px;
}
#ica0lk{
  padding:10px;
}
#ig4n0i{
  align-self:center;
}
#icjk1e{
  max-width:480px;
}
#iud27g{
  padding:10px;
  font-size:24px;
}
#i5oq1c{
  padding:10px;
}
#izukw1{
  max-width:480px;
}
#i2r4bi{
  padding:10px;
  font-size:24px;
}
#img6om{
  padding:10px;
}
#iejbtk{
  align-self:center;
}
#ilm5xg{
  align-self:center;
}
#ijbt5j{
  padding:10px;
  font-size:24px;
}
#iawcwa{
  padding:10px;
}
#ia3xfh{
  max-width:480px;
}

@media (max-width: 768px){
  .row{
    flex-wrap:wrap;
  }
  .navbar-burger{
    display:block;
  }
  .navbar-items-c{
    display:none;
    width:100%;
  }
  .navbar-menu{
    width:100%;
  }
  .navbar-menu-link{
    display:block;
  }
}
